// Colors
$brand-primary: rgba(0,0,0,.6);
$gray: #666;
$light-gray: #f9f9f9;
$dark-gray: #333;
$off-white: #f7f7f7;
$dark-gray: #777;
$shade1: rgba(0,0,0,.3);
$white-subdued: rgba(255,255,255,.6);

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$space: 1.4rem;
$site-max-width: 98%;

// font sizes
$base-font-size: 1.4rem;
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Form Inputs
$input-border: $gray;
$input-spacing: 1rem;

// Boxed View
$boxed-view-overlay-bg: $gray;
$boxed-view-bg: white;

// Button
$button-bg: $brand-primary;
$button-color: white;
$button-pill-color: $brand-primary;
$button-secondary-bg: $light-gray;
$button-secondary-color: $dark-gray;
$button-secondary-border-color: $gray;

// Header
$header-bg: $brand-primary;
$header-color: white;

// Item
$item-bg: $light-gray;
$item-border: darken($item-bg, 8%);
$item-text-color: $dark-gray;